*{font-family: "Montserrat", sans-serif;}
:root {
  --black-dark: #040f0f;
  --green-dark: #248232;
  --green-light: #2ba84a;
  --gray-dark: #2d3a3a;
  --white-soft: #fcfffc;
}
body{display: flex;min-height: 100vh;flex-direction: column;background-color: var(--white-soft)!important;}
main{flex: 1 0 auto;}
nav{background-color: var(--green-dark)!important;}
.login{max-width: 680px;width: 100%;margin: 0 auto;padding: 0 2rem;}
.login .acess{background-color: var(--green-light);color: var(--white-soft);transition: ease-in-out .8s;width: 100%;justify-content: center;}
.login .acess:hover{background-color: var(--green-dark);}
.login .forgot{justify-content: center;background-color: var(--white-soft);color: var(--black-dark);}
.login .btn{width: 100%;text-align: center;display: inline-block;}
.login .signup{background-color: var(--white-soft);color: var(--black-dark);}
/* Cadastro */
.register{max-width: 420px;margin: 40px auto;}
.register .btn-large{width: 100%;justify-content: center;border: none!important;outline: none;}
.register .input-field{margin-top: 10px;}
/* Dashboard */
.dashboard{padding-left: 300px;}
.control{display: grid;grid-gap: 3rem;}
.control .col{padding: 2rem;}
.filters{display: grid;grid-template-columns: repeat(3,1fr);grid-gap: 1rem;}
.delete{background-color: #d50000;border: none;box-shadow: none;color: #fcfffc;padding: 10px;margin: 0 5px;}
.update{background-color: #1b5e20;border: none;box-shadow: none;color: #fcfffc;padding: 10px;margin: 0 5px;}
.controle .tabs{display: flex;flex-direction: column;overflow-x: hidden;padding: 0 1rem;}
.controle .tabs li > a.active{background-color: #1b5e20!important;color: #fcfffc!important;}
.controle .tabs li > a{margin: 0;display: inline-block;text-align: left;font-size: 18px;}
.controle .tabs li > a i {font-size: 20px;}
#guia-alunos{display: grid;grid-gap: 1rem 0;grid-template-rows: auto 1fr;}
.tabs .indicator{display: none;}
.control .carousel{height: 100dvh;}
.alunos{height: 100%;overflow-y: auto;padding-bottom: 1rem;}
.tabs .tab a{align-items: flex-start;}